/*------------------------- Menu déroulant Haut de page R.V. version myULg -------------------------*/

/*---------- Niveau 1 ----------*/

#mpTopmenu .mpNiveau1 li:hover a.mpLevel1,#mpTopmenu .mpNiveau1 li a.mpLevel1:hover,
#mpTopmenu .mpNiveau2 li:hover a.mpLevel2,
#mpTopmenu .mpNiveau3 li:hover a.mpLevel3,
#mpTopmenu .mpNiveau4 li:hover  
{
	background-color: #5fa4ab;
	color: white;
}

#mpTopmenu .mpNiveau2 li.hasChild:hover a.mpLevel2,
#mpTopmenu .mpNiveau3 li.hasChild:hover a.mpLevel3, 
#mpTopmenu .mpNiveau4 li.hasChild:hover,
#mpTopmenu .mpNiveau1 li.hasChild:hover a.mpLevel1,#mpTopmenu .mpNiveau1 li.hasChild a.mpLevel1:hover {
	background-image: url(/resources_xt/FW/images/fleche_menu.gif);
	background-position: 240px 8px;
	background-repeat: no-repeat;
}

/*---------- Niveau 2 ----------*/

#mpTopmenu .mpNiveau2 
{
	background-image:
		url(/resources_xt/FW/images/fmkGraph/1/fond_menu.png);
}

/*---------- Niveau 3 ----------*/

#mpTopmenu .mpNiveau3 
{
	background-image:
		url(/resources_xt/FW/images/fmkGraph/1/fond_menu.png);
}

/*---------- Niveau 4 ----------*/

#mpTopmenu .mpNiveau4 
{
	background-image:
		url(/resources_xt/FW/images/fmkGraph/1/fond_menu.png);
}